[submodule "certora-for-aerodrome/lib/forge-std"]
	path = certora-for-aerodrome/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "certora-for-aerodrome/lib/openzeppelin-contracts"]
	path = certora-for-aerodrome/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "certora-for-aerodrome/lib/contracts"]
	path = certora-for-aerodrome/lib/contracts
	url = https://github.com/aerodrome-finance/contracts
